body{
    background-color: #222C36;
    color: white;
    padding: 15px;
}

h1{
	color: #2BBEAA;
}

button{
    background-color: #2BBEAA;
}

span{
    color: #2BBEAA;
}

a{
    color: #2BBEAA;
}

textarea{
    resize: none;
}

.col-xs-2{
    padding-left: 0;
}

h4 a{
	border-left: 1px solid white;
    padding-left: 15px;
    margin-left: 15px;
}
