body{
    background-color: #222C36;
    color: white;
}

.container {
    background-color: #3B4B54; 
}

#header {
    background-color: #126D7A;
    padding: 5px;
    font-weight: bold;
    margin-top: 0px;
}

#send {
    background-color: #126D7A;
}

#messageFrequency{
    color: #2BBEAA;
}

a{
    color: #2BBEAA;
}