body{
    background-color: #222C36;
    color: white;
    padding: 15px;
}

h1{
	color: #2BBEAA;
}

button{
    background-color: #2BBEAA;
}

span{
    color: #2BBEAA;
}

a{
    color: #2BBEAA;
}

a:hover{
	color: white;
	text-decoration: none;
}

a:selected{
	color: #2BBEAA;
	text-decoration: none;
}

textarea{
    resize: none;
}

.col-xs-2{
    padding-left: 0;
}

h4 a{
	border-left: 1px solid white;
    padding-left: 15px;
    margin-left: 15px;
}

abbr[title]{
	border: 0;
	cursor: pointer;
}

.navbar {
	background: #222C36;
	height: 50px;
	line-height: 50px;
	font-weight: 300;
	font-size: 9pt;
	z-index: 150;
	min-width: 100%;
	border-bottom: 1px solid white;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	border-radius: 0;
}

.navbar .nb-left-area {
	float: left;
	height: 50px;
	color: #ffffff;
}

.navbar .nb-button-link {
	position: relative;
	text-decoration: none;
	color: #94a3ab;
	margin: 0 10px 0 10px;
	height: 50px;
}

.navbar .nb-left-area .nb-bluemix-logo {
  vertical-align: top;
  margin-top: 8px;
  width: 32px;
  height: 32px;
}

.glyphicon-menu-hamburger {
	display: none;
	font-size: 14px;
    color: #94A3AB;
    padding: 3px;
    cursor: pointer;
    margin-left: -7px;
}

.glyphicon-menu-hamburger:hover {
	color: #5AAAFA;
}

.navbar .nb-left-area .nb-devopsservices-text {
  font-weight: 300;
  font-size: 14px;
  color: #FFFFFF;
}